<div class="landing-nav__locale-menu-link">
                    <span class="landing-nav__link js-menu" data-menu-target="landing--locale">
                        <img
                            class="landing-nav__locale-flag"
                            src="/static/osu-web/images/flags/GB.png"
                            alt="en"
                        >
                        English
                    </span>

                    <div
                        class="js-menu landing-nav__locale-menu"
                        data-menu-id="landing--locale"
                        data-visibility="hidden"
                    >
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/GB.png"
                                        alt="en"
                                    >

                                    English
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localefc06.html?locale=be"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/BY.png"
                                        alt="be"
                                    >

                                    Беларуская мова
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale799a.html?locale=bg"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/BG.png"
                                        alt="bg"
                                    >

                                    Български
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localee20a.html?locale=cs"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/CZ.png"
                                        alt="cs"
                                    >

                                    Česky
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localea433.html?locale=da"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/DK.png"
                                        alt="da"
                                    >

                                    Dansk
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale0d31.html?locale=de"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/DE.png"
                                        alt="de"
                                    >

                                    Deutsch
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localeaaaa.html?locale=el"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/GR.png"
                                        alt="el"
                                    >

                                    Ελληνικά
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale7ae9.html?locale=es"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/ES.png"
                                        alt="es"
                                    >

                                    Español
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale103e.html?locale=fi"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/FI.png"
                                        alt="fi"
                                    >

                                    Suomi
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localef9ce.html?locale=fr"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/FR.png"
                                        alt="fr"
                                    >

                                    Français
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localed020.html?locale=hu"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/HU.png"
                                        alt="hu"
                                    >

                                    Magyar
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localea07a.html?locale=id"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/ID.png"
                                        alt="id"
                                    >

                                    Bahasa Indonesia
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale48fa.html?locale=it"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/IT.png"
                                        alt="it"
                                    >

                                    Italiano
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale2362.html?locale=ja"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/JP.png"
                                        alt="ja"
                                    >

                                    日本語
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localed6dc.html?locale=ko"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/KR.png"
                                        alt="ko"
                                    >

                                    한국어
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localeaf37.html?locale=nl"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/NL.png"
                                        alt="nl"
                                    >

                                    Nederlands
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localeaceb.html?locale=no"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/NO.png"
                                        alt="no"
                                    >

                                    Norsk
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localef24f.html?locale=pl"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/PL.png"
                                        alt="pl"
                                    >

                                    Polski
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale7d8f.html?locale=pt"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/PT.png"
                                        alt="pt"
                                    >

                                    Português
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale03e5.html?locale=pt-br"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/BR.png"
                                        alt="pt-br"
                                    >

                                    Português (Brasil)
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale92d6.html?locale=ro"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/RO.png"
                                        alt="ro"
                                    >

                                    Română
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale73fe.html?locale=ru"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/RU.png"
                                        alt="ru"
                                    >

                                    Русский
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localeba5c.html?locale=sk"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/SK.png"
                                        alt="sk"
                                    >

                                    Slovenčina
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale63fd.html?locale=sv"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/SE.png"
                                        alt="sv"
                                    >

                                    Svenska
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale356b.html?locale=th"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/TH.png"
                                        alt="th"
                                    >

                                    ไทย
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale85fb.html?locale=tr"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/TR.png"
                                        alt="tr"
                                    >

                                    Türkçe
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale75fc.html?locale=vi"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/VN.png"
                                        alt="vi"
                                    >

                                    Tiếng Việt
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-localea5f7.html?locale=zh"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/CN.png"
                                        alt="zh"
                                    >

                                    简体中文
                                </span>
                            </button>
                                                    <button
                                type="button"
                                class="landing-nav__locale-button"
                                                                    data-url="home/set-locale7667.html?locale=zh-tw"
                                    data-remote="1"
                                    data-method="POST"
                                                            >
                                <span class="landing-nav__link landing-nav__link--locale">
                                    <span class="landing-nav__locale-link-pointer">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>

                                    <img
                                        class="landing-nav__locale-flag"
                                        src="/static/osu-web/images/flags/TW.png"
                                        alt="zh-tw"
                                    >

                                    繁體中文（台灣）
                                </span>
                            </button>
                        </div>
                    </div>