<li class="navbar-mobile-item dropdown">
    <a
        data-toggle="dropdown"
        class="navbar-mobile-item__main dropdown-toggle"
        href="#"
    >
        <span class="navbar-mobile-item__icon navbar-mobile-item__icon--main navbar-mobile-item__icon--closed">
            <i class="fas fa-chevron-right"></i>
        </span>

        <span class="navbar-mobile-item__icon navbar-mobile-item__icon--main navbar-mobile-item__icon--opened">
            <i class="fas fa-chevron-down"></i>
        </span>

        <span
            class="navbar-mobile-item__locale-flag"
            style="background-image: url('/static/osu-web/images/flags/GB.png')"
        ></span>

        English
    </a>

    <ul class="dropdown-menu">
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale7038.html?locale=en"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/GB.png')"
                    ></span>

                    English
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localefc06.html?locale=be"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/BY.png')"
                    ></span>

                    Беларуская мова
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale799a.html?locale=bg"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/BG.png')"
                    ></span>

                    Български
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localee20a.html?locale=cs"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/CZ.png')"
                    ></span>

                    Česky
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localea433.html?locale=da"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/DK.png')"
                    ></span>

                    Dansk
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale0d31.html?locale=de"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/DE.png')"
                    ></span>

                    Deutsch
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localeaaaa.html?locale=el"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/GR.png')"
                    ></span>

                    Ελληνικά
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale7ae9.html?locale=es"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/ES.png')"
                    ></span>

                    Español
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale103e.html?locale=fi"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/FI.png')"
                    ></span>

                    Suomi
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localef9ce.html?locale=fr"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/FR.png')"
                    ></span>

                    Français
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localed020.html?locale=hu"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/HU.png')"
                    ></span>

                    Magyar
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localea07a.html?locale=id"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/ID.png')"
                    ></span>

                    Bahasa Indonesia
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale48fa.html?locale=it"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/IT.png')"
                    ></span>

                    Italiano
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale2362.html?locale=ja"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/JP.png')"
                    ></span>

                    日本語
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localed6dc.html?locale=ko"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/KR.png')"
                    ></span>

                    한국어
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localeaf37.html?locale=nl"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/NL.png')"
                    ></span>

                    Nederlands
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localeaceb.html?locale=no"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/NO.png')"
                    ></span>

                    Norsk
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localef24f.html?locale=pl"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/PL.png')"
                    ></span>

                    Polski
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale7d8f.html?locale=pt"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/PT.png')"
                    ></span>

                    Português
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale03e5.html?locale=pt-br"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/BR.png')"
                    ></span>

                    Português (Brasil)
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale92d6.html?locale=ro"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/RO.png')"
                    ></span>

                    Română
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale73fe.html?locale=ru"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/RU.png')"
                    ></span>

                    Русский
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localeba5c.html?locale=sk"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/SK.png')"
                    ></span>

                    Slovenčina
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale63fd.html?locale=sv"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/SE.png')"
                    ></span>

                    Svenska
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale356b.html?locale=th"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/TH.png')"
                    ></span>

                    ไทย
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale85fb.html?locale=tr"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/TR.png')"
                    ></span>

                    Türkçe
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale75fc.html?locale=vi"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/VN.png')"
                    ></span>

                    Tiếng Việt
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-localea5f7.html?locale=zh"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/CN.png')"
                    ></span>

                    简体中文
                </a>
            </li>
                    <li>
                <a
                    class="navbar-mobile-item__submenu"
                    href="home/set-locale7667.html?locale=zh-tw"
                    data-remote="1"
                    data-method="POST"
                    data-toggle="collapse"
                    data-target=".js-navbar-mobile--menu"
                >
                    <span class="navbar-mobile-item__icon">
                        <i class="fas fa-chevron-right"></i>
                    </span>

                    <span
                        class="navbar-mobile-item__locale-flag"
                        style="background-image: url('/static/osu-web/images/flags/TW.png')"
                    ></span>

                    繁體中文（台灣）
                </a>
            </li>
            </ul>