{{ define "base" }}
{{ $   := . }}
{{ $lang := .Context.Language }}
<!DOCTYPE html>
<html>
    <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/osu-web/apple-touch-icon.png">
    <link rel="icon" sizes="32x32" href="/static/osu-web/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="/static/osu-web/favicon-16x16.png">
    <link rel="manifest" href="/static/osu-web/site.webmanifest">
    <link rel="mask-icon" href="/static/osu-web/safari-pinned-tab.svg" color="#e2609a">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="hsl(255, 10%, 40%)"> 

    <meta name="description" content="osu! - Rhythm is just a *click* away!  With Ouendan/EBA, Taiko and original gameplay modes, as well as a fully functional level editor.">
    <meta name="keywords" content="osu, peppy, ouendan, elite, beat, agents, ds, windows, game, taiko, tatsujin, simulator, sim, xna, ddr, beatmania, osu!, osume">

    <meta name="turbolinks-cache-control" content="no-preview">

    <link href='https://fonts.googleapis.com/css?family=Exo+2:300,300italic,200,200italic,400,400italic,500,500italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" media="all" href="/static/osu-web/vendor/_photoswipe-default-skin/default-skin.css">
    <link rel="stylesheet" media="all" href="/static/osu-web/css/app.css" data-turbolinks-track="reload">

    <script src="/static/osu-web/js/vendor.js?{{ unixNano }}"></script>
    <script src="/static/osu-web/js/app-deps.js?{{ unixNano }}"></script>
    <script src="/static/osu-web/js/locales/en.js?{{ unixNano }}" data-turbolinks-track="reload"></script>
    <script src="/static/osu-web/js/commons.js?{{ unixNano }}"></script>
    <script src="/static/osu-web/js/app.js?{{ unixNano }}"></script>

    <script src="/static/osu-web/vendor/js/moment-locales/en-gb.js?{{ unixNano }}" data-turbolinks-track="reload"></script>

        <noscript>
        <style>
            /**
            * Reinstate scrolling for non-JS clients
            *
            * You coud do this in a regular stylesheet, but be aware that
            * even in JS-enabled clients the browser scrollbars may be visible
            * briefly until JS kicks in. This is especially noticeable in IE.
            * Wrapping these rules in a noscript tag ensures that never happens.
            */
            [data-simplebar] {
                overflow: auto;
            }
        </style>
        </noscript>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ if .TitleBar }}
        <title>{{ .T .TitleBar }} | {{ .T "Ainu" }}</title>
        {{ end }}

        <link rel="stylesheet" media="all" href="https://osu.ppy.sh/vendor/_photoswipe-default-skin/default-skin.css">
        <link rel="stylesheet" type="text/css" href="/static/osu-web/css/app.css?{{ unixNano }}">
    </head>
    <body class="osu-layout osu-layout--body t-section action-index">
        {{ template "tpl" . }}
    </body>
        <!-- style type="text/css">
    html, body {
        overflow:hidden;
        overflow-y: hidden;
        overflow-x: hidden;
        }
    </style -->

    <script>
            var hanayoConf = {
                avatars:   {{ .Conf.AvatarURL }},
                banchoAPI: {{ .Conf.BanchoAPI }},
                baseAPI:   {{ .Conf.API }},
                cheesegullAPI: {{ .Conf.CheesegullAPI }},
                language:  {{ with $lang }}{{ . }}{{ else }}"en"{{ end }},
            };
            var currentUserID = {{ .Context.User.ID }};
        </script>
    {{/* If we got some more scripts to print, print'em */}}
    <script src="/static/dist.min.js?{{ unixNano }}"></script>
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>

    {{ if .Scripts }}
            {{ range .Scripts }}
                <script src="{{ . }}?{{ unixNano }}"></script>
        {{ end }}
    {{ end }}
</html>
{{ end }}
